{% extends 'base.html' %}

{% block head %}
<title>adato</title>
{% endblock %}

{% block body %}
<br>
<h1>Allround Document Annotation Tool for Active Learning</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Annotate Document</h1>
            <div class="form-group">
                <!-- <label for="exampleFormControlTextarea1">Example textarea</label> -->
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="30"></textarea>
            </div>
            <p>
                <a class="btn btn-success btn-large" href="" role="button">Accept Label</a>
                <a class="btn btn-danger btn-large" href="" role="button">Decline Label</a>
                <a class="btn btn-warning btn-large" href="" role="button">Skip Document</a>
            </p>
        </div>
    </div>
</main>

{% endblock %}
